{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "FormData": true,
    "sessionStorage": true,
    "localStorage": true,
    "document": true,
    "navigator": true,
    "requestAnimationFrame": true,
    "location": true,
    "yaCounter23728522": true,
    "gtag": true,
    "Audio": true
  },
  "plugins": ["react", "prettier", "react-hooks"],
  "rules": {
    "no-unexpected-multiline": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "eqeqeq": "error",
    "semi": "off",
    "no-shadow": "off",
    "no-console": "warn",
    "no-restricted-globals": "warn",
    "prefer-template": "error",
    "import/no-unresolved": "error",
    "import/prefer-default-export": "off",
    "import/named": "error",
    "import/namespace": "error",
    "import/no-duplicates": "error",
    "react/jsx-boolean-value": "warn",
    "react/prop-types": "warn",
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "warn",
    "react/jsx-curly-brace-presence": [
      "warn",
      "never"
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^_$"
      }
    ],
    "prettier/prettier": [
      "off",
      {},
      {
        "usePrettierrc": true
      }
    ]
  }
}
